body {
  max-width: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

html {
  overflow-x: hidden;
}


#contact-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  background-color: #3467c5;
  color: #17a899;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#contact-header .flag-container {
  display: flex;
  align-items: center;
}

.flag-container {
  display: flex;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .flag-container {
    justify-content: center; /* Center horizontally on mobile devices */
  }
}


/* Navbar */
#navbar {
  position: fixed;
  top: 35px; 
  background-color: #ffffff;
  width: 100%;
  color: #17a899;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: "Lora", serif;
}

#navbar a {
  margin-right: 1rem;
  color: #1d3b71;
}

#navbar a:hover {
  color: #17a899;
}

#navbar .font-bold {
  font-weight: bold;
}

#navbar #navbar-toggle {
  color: #17a899;
}

#navbar #navbar-toggle i {
  font-size: 1.25rem;
}

#navbar #navbar-toggle:focus {
  outline: none;
}

#navbar-collapse {
  display: none;
}

#navbar-collapse a {
  margin-right: 1rem;
  color: #ffffff;
}

#navbar-collapse a:hover {
  color: #17a899;
}

#navbar .group:hover > ul {
  display: block;
}

#navbar .group ul {
  position: absolute;
  top: 100%;
  z-index: 10;
  color: #1d3b71;
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

#navbar .group li {
  padding: 0.5rem 0;
}

#navbar .group a {
  color: #1d4e89;
}

#navbar .group a:hover {
  color: #17a899;
}

#navbar .group:hover > ul {
  display: block;
  background-color: #ffffff;
  width: 200px;
}

#navbar .group .surgeries-link {
  color: #1d3b71;
}

#navbar .group ul .surgeries-link {
  color: #17a899;
}

#navbar .group .surgeries-link:hover {
  color: #17a899;
}

.hidden {
  display: none;
}

/* Navbar mobile */
@media (max-width: 768px) {
  #mobile-navbar {
    position: fixed;
    background-color: #ffffff;
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
    width: 100%; 
    left: 0;
    margin-top: 2rem;
    overflow: hidden; 
  }

  #regular-navbar {
    display: none;
  }

  #mobile-navbar button#mobile-menu-button {
    color: #1d3b71;
    font-size: 1.5rem;
  }


  #mobile-navbar .font-bold {
    color: #1d3b71;
    font-size: 1rem;
    font-weight: bold;
  }

  #mobile-menu-button .font-bold {
    font-weight: bold;
  }

  #mobile-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
    margin-right: 0rem;
  }

  #mobile-menu ul li {
    border-bottom: 1px solid #d1d5db;
  }

  #mobile-menu a {
    color: #1d3b71;
    font-size: 1.25rem;
    text-decoration: none;
    display: block; 
    padding: 1rem 0;
    text-align: center;
    margin-top: 20px;
  }


  #mobile-menu button#mobile-close-button {
    color: #1d3b71;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    text-align: center;
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 7.8rem;
  
  }
}

/* Hero Section */
#hero-section {
  position: relative;
  overflow: hidden;
  height: 750px;
  background-image: url("images/blue-bg-istanbul.jpg");
  background-size: cover;
  background-position: center top 6rem;
  z-index: 1; 
  font-family: "Lora", serif;
}


/* Gradient Overlay */
#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(23, 168, 153, 0), #17a899);
  pointer-events: none;
  
}

#hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(23, 168, 153, 0), #3467c5);
  pointer-events: none;
  z-index: 0; 
}
.canberk-photo,
.atilla-photo {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canberk-photo {
  margin-right: 2rem; 
  
}

.atilla-photo {
  margin-left: 2rem;
}

.canberk-photo .rounded-full,
.atilla-photo .rounded-full {
  width: 250px;
  height: 400px; 
  overflow: hidden;
  border-radius: 40%; 
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.canberk-photo .rounded-full img,
.atilla-photo .rounded-full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.canberk-photo .rounded-full:hover,
.atilla-photo .rounded-full:hover {
  transform: scale(1.05); 
  opacity: 0.8; 
}

.canberk-photo .rounded-full:hover img,
.atilla-photo .rounded-full:hover img {
  transform: scale(1.2); 
}

@media (max-width: 768px) {
  #hero-section{
    height: 800px;
  }
  .canberk-photo, .atilla-photo {
    display: none ;}

    .hero-form {
      margin-top: -20px; 
    }
}



/* Services overview Section */
#services-overview {
  font-family: "Nunito", sans-serif;
  padding: 2rem 0;
  background-color: #17a899;
}

.service-box {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.service-box:hover {
  background-color: #ebf8ff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.service-box i {
  font-size: 3rem;
  color: #1d3b71;
  padding-top: -2px;
}

.service-box h3 {
  color: #1d3b71;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.service-box p {
  font-size: 1.125rem;
  color: #718096;
  padding-bottom: 10px;
}

.service-button {
  position: absolute;
  bottom: 0.6rem;
  padding-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d3b71;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.service-box:hover .service-button {
  background-color: #17a899;
}

/* Mobile Styles for Services Overview Section */
  @media (max-width: 768px) {
  
    .service-box {
      margin-bottom: 20px; 
      padding: 1rem; 
      width: 95%;
      margin-left: 0.80rem;
    }
  
    .service-box i {
      font-size: 1.5rem; 
    }
  
    .service-box h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem; 
    }
  
    .service-box p {
      font-size: 1rem; 
      margin-bottom: 30px;
    }
  }

/* what we offer section */
#work-with {
  font-family: "Nunito", sans-serif;

  background-color: #fffff0;
}
#work-with .work-with-item {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#work-with .work-with-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.work-with-image {
  height: 190px;
  border-radius: 8px;
}
.work-with-item {
  overflow: hidden;
}

.overlay {
  background-color: #17a899;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.work-with-item:hover .overlay {
  opacity: 0.9;
}

.work-with-item:hover .overlay p {
  opacity: 1;
  transform: translateY(-50%);
}

#work-with .work-with-item h3 {
  color: #1d3b71;
}

/* Mobile Styles for What We Offer Section */
@media (max-width: 768px) {
  .grid-cols-1 {
    grid-template-columns: 1fr;
  }

  .work-with-item-container {
    margin-bottom: 10px;
    padding: 1rem; 
    width: 99%;
  
  }

  .work-with-item h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem; 
  }

  .work-with-item p {
    font-size: 1rem; 
    text-align: center;
    margin-left: 3rem;
  }
}

/* Pricing Table Section */
#pricing-table {
  font-family: "Nunito", sans-serif;
  background-color: #17a899;
  padding: 70px 0;
}

.pricing-container {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.pricing-card {
  padding: 30px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  transform-style: preserve-3d;
}

.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.pricing-card h3 {
  color: #1d3b71;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}


.pricing-card p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
} 
.star-icons {
  color: #1d3b71; 
  margin-bottom: 1rem;
  font-size: 1.5rem; 
}

.pricing-card ul {
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.pricing-card ul li {
  color: #1d3b71; 
  margin-left: 0.5rem; /
}
.select-button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
}
.separator {
  border: 1px solid #17A899; 
  margin: 15px 0;
}
.select-button:hover {
  background-color: #17A899;
}

.custom-list {
  list-style-type: none; 
}

.custom-list li::before {
  content: "\2713"; 
  color: #007bff; 
  margin-left: -3rem; 
}

.pricing-front {
  padding: 30px;
  text-align: center;
}

.pricing-front h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.pricing-front p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.select-button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  position: absolute;
  bottom: 15px; 
  transform: translateX(-50%);
}


/* Testimonials Section */
#testimonials {
  background-color: #fffff0;
}

#testimonials h2{
  margin-left: 33rem;
  font-size: xx-large;
  font-weight: bold;
}

@media (max-width: 768px) {

  #testimonials h2{
    margin-right: 33rem;
  }
  
}

/* FAQ Section */
#faq {
  background-color: #17a899; 
  color: #ffffff;
  padding: 2rem 0;
  font-family: "Nunito", sans-serif;
}

.faq-link {
  color: #17A899;
  text-decoration: none;
  font-weight: bold;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fffff0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #bbc4c3;
}

.accordion-title.active {
  background-color: #3b82f6;
}

.accordion-title.active h3 {
  color: #007bff;
}

.accordion-title .plus-minus {
  color: #007bff;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.accordion-item.active .plus-minus {
  transform: rotate(-180deg);
}

.accordion-content {
  padding: 1.5rem;
  background-color: #fffff0;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
  line-height: 1.5;
  color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1rem; 
}

.accordion-item.active .accordion-content {
  max-height: 1000px;
}
#faq
.accordion-title h3,
.accordion-content p {
  color: #3b82f6; /
}
#faq a {
  text-decoration: underline;
}

/* FAQ MOBILE */
@media (max-width: 768px) {
  .accordion-item{
    padding-left: 15px;

  }
  .accordion-title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px; 
    width: 96%;
  }

  .accordion-title h3 {
    font-size: 1rem;
  }

  .accordion-title.active .plus-minus {
    order: -1;
    margin-right: 3rem;
  }

  .accordion-content {
    padding: 1rem;
    width: 96%;
  }

  .accordion-content p {
    font-size: 1rem;
  }
}


/* Bottom Footer */
#footer {
  padding: 30px 0;
  font-family: "Lora", serif;
  background-color:  #3467c5;
}
  .bg-main-bg-color {
    background-color: #3467c5;
  }

  .btn-instagram:hover {
    color: #17A899;
  }

  .btn-whatsapp:hover {
    color: #17A899;
  }

  @media (max-width: 640px) {
    .hide-on-mobile {
      display: none;
    }
  }